<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Event date:</strong>
    <%= event.event_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Organizer name:</strong>
    <%= event.organizer_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Target departments:</strong>
    <%= event.target_departments %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= event.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Public token:</strong>
    <%= event.public_token %>
  </p>
</div>
