<!-- new.html.erb -->
<h1>新しいイベントを作成</h1>

<%= form_with model: @event do |event| %>

<div>
  <%= event.label :title %>
  <%= event.text_field :title %>
  <% if @event.errors.full_messages_for(:title).any? %>
  <ul>
    <% @event.errors.full_messages_for(:title).each do |message| %>
    <li><%= message %>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <%= event.label :body %>
  <%= event.text_area :body %>
  <% if @event.errors.full_messages_for(:body).any? %>
  <ul>
    <% @event.errors.full_messages_for(:body).each do |message| %>
    <li><%= message %>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <%= event.submit %>
</div>

<% end %>