<div class="flex items-center justify-around">
  <h1 class="text-slate-600 text-3xl text-center">イベント管理</h1>
  <div class="mx-6 my-6">
    <% if user_signed_in? %>
      <%= link_to '新しいイベントを作成', new_event_path,
      class: "px-4 py-2 mr-4 text-green-600 bg-white border border-green-600 rounded-md hover:bg-green-50 transition" %>

      <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false }, class: "inline-block" do %>
      <%= submit_tag "ログアウト", class: "px-4 py-2 text-red-600 bg-white border border-red-600 rounded-md hover:bg-red-50 transition" %>
      <% end %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path,
      class: "px-4 py-2 mr-4 text-gray-600 bg-white border border-gray-300 rounded-md hover:bg-gray-50 transition" %>

      <%= link_to "ログイン", new_user_session_path,
      class: "px-4 py-2 text-blue-600 bg-white border border-blue-600 rounded-md hover:bg-blue-50 transition" %>
    <% end %>
  </div>
</div>



<% if @events.any? %>
  <div class="rounded-lg  text-center border border-slate-200">
      <table class="w-full ">
        <thead class="bg-slate-100">
          <tr class="text-slate-600 text-lg font-semibold  tracking-wider text-center">
            <th class="px-6 py-4">タイトル</th>
            <th class="px-6 py-4">開催日</th>
            <th class="px-6 py-4">主催者</th>
            <th class="px-6 py-4">対象部署</th>
            <th class="px-6 py-4">操作</th>
          </tr>
        </thead>
        <% @events.each do |event| %>
          <tbody className="divide-y divide-slate-200">
            <tr>
              <td class="className=px-6 py-4"><%= event.title %></td>
              <td class="className=px-6 py-4"><%= event.event_date.to_date %></td>
              <td class="className=px-6 py-4"><%= event.organizer_name %></td>
              <td class="className=px-6 py-4"><%= event.target_departments %></td>
              <td class="className=px-6 py-4">
                <div class="flex gap-2 justify-center" role="group">
                  <button>
                    <%= link_to '詳細', event ,class:"hover:text-blue-600 hover:border-b-2 hover:border-blue-500 transition" %>
                  </button>
                  <button>
                    <%= link_to '編集', edit_event_path(event) ,class:"hover:text-blue-600 hover:border-b-2 hover:border-blue-500 transition" %>
                  </button>
                  <button>
                    <%= link_to '削除', event, method: :delete,
                    confirm: '本当に削除しますか？' ,class:"hover:text-blue-600 hover:border-b-2 hover:border-blue-500 transition" %>
                  </button>
                </div>
              </td>
            </tr>
    <% end %>
  </div>
<% else %>
  <div class="text-center py-5">
    <h3>イベントがまだ登録されていません</h3>
    <p class="text-muted">最初のイベントを作成してみましょう！</p>
    <%= link_to '新しいイベントを作成', new_event_path, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
