<div class="flex justify-center items-center mt-20">
  <div class="w-full max-w-md bg-white p-8 rounded-md border">
    <div class="p-6">
      <div class="mb-8">
        <h1 class="text-xl font-bold text-gray-900"><%= @event.title %></h1>
      </div>
      <div class="border-t border-gray-200  pt-8 space-y-6">
        <div class="grid grid-cols-1 gap-x-6 gap-y-2">
          <div class="text-sm font-medium text-gray-500 ">開催日</div>
          <div class=" text-base text-gray-800 font-semibold"><%= @event.event_date %></div>
        </div>

        <div class="grid grid-cols-1 gap-x-6 gap-y-2">
          <div class="text-sm font-medium text-gray-500">主催者</div>
          <div class="text-base text-gray-800 font-semibold"><%= @event.organizer_name %></div>
        </div>

        <div class="grid grid-cols-1 gap-x-6 gap-y-2">
          <div class="font-medium text-gray-500">対象部署</div>
          <div class="text-base text-gray-800 font-semibold"><%= @event.target_departments %></div>
        </div>

        <div class="mt-10 pt-8 border-t border-gray-200">
          <h5 class="text-xl mb-4 font-medium text-gray-500">イベント詳細</h5>
          <div class="max-w-none text-base text-gray-800 font-semibold">
            <%= simple_format(@event.description) %>
          </div>
        </div>

        <div class="mt-10 pt-8 border-t border-gray-200">
          <h5 class="text-xl mb-4 font-medium text-gray-500">作成者</h5>
          <div class="max-w-none text-base text-gray-800 font-semibold">
            <%= @event.creator_name %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end gap-2">
      <% if user_signed_in? && @event.user == current_user %>
        <%= link_to "編集", edit_event_path(@event), class: "px-4 py-2 text-blue-600 bg-white border border-blue-600 rounded-md hover:bg-blue-50" %>
        <%= button_to "削除", event_path(@event), method: :delete, 
            data: { turbo_confirm: "本当に削除しますか？" },
            class: "px-4 py-2 text-red-600 bg-white border border-red-600 rounded-md hover:bg-red-50" %>
      <% end %>
      <%= link_to 'イベント一覧に戻る', events_path%>
    </div>
  </div>
</div>
